body{
      text-align:center;
}

  a{
    color:white;
    text-decoration: none;
  }

  table {
    margin-left: auto;
    margin-right: auto;
}
  h1{
    font-size:40px;
    text-align:center;
    background-color: #1F42AB;
    color:white;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
  }
  h2{
    font-size:30px;
    text-align:center;
    background-color: #088FD4;
    color:white;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 15px;
  }
  h3{
    font-size:25px;
    text-align:center;
    background-color: #088FD4;
    color:white;
    border-bottom: 1px solid gray;
    margin: 0;
    clear:both;
    padding: 10px;
  }
  p{
    width:800px;
    margin:0 auto;
  }
  ol{
    text-align:center;
    border-bottom: 1px solid gray;
    margin:0;
    padding: 20px;

  }
  ul {
    list-style:none;
    margin:0;
    padding:0;
}
  li{
  list-style:none;
  background:#1F42AB;
  text-align: center;
  display: inline;
  padding:10px 3%;
  border: 10px;
  }
  #grid{
    display: grid;

  }
  #grid ol{
    padding-left: 35px;
  }

  #leftbar{

  }
  #article{
    margin: 0 auto;
    width:800px;
    padding:20px;
    margin-bottom: 20px;
    float:left;
    border:1px solid #bcbcbc;
  }
  #rightbar{

  }
  #footer{
    clear:both;
    padding: 20px;
    border: 1px solid #bcbcbc;
  }

  .box {
      width: 150px;
      height: 150px;
      border-radius: 70%;
      overflow: hidden;
      float: left;
      margin:10px
  }
  .profile {
      width: 150px;
      height: 150px;
      object-fit: cover;
  }


  @media(max-width:800px){
    #grid{
      display: block;
  }
  ol{
    border-right: none;
  }
  h1{

    border-bottom: none;

  }
}
table {
        border: "1"
      	min-width: 500px;
}
			}
			td {
				padding: 20px;
				border: 1px solid #444444;
			}
